.agreement{
    padding: 90px 0 175px;
}

.agreement-container{
    padding: 30px 65px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #97C1F7;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.agreement-container::before{
    content: '';
    width: 462px;
    height: 462px;
    background-image: url('../../public/images/background_circle_about.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -80px;
    right: -230px;
    z-index: -1;
}


.agreement-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.agreement-title{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #29246A;
}
.agreement-block .orange{
    margin-top: 30px;
    width: 300px;
    height: 50px;
}