/* .app-questions{
    padding: 55px 0 100px;
    
}

.app-questions .title{
    color: #FFF;
} */

/* .app-questions_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-questions_header button {
    width: 255px;
    height: 46px;
}

.app-questions_questions-block{
    margin-top: 45px;
    padding: 60px 53px;
    background-color: #FFF;
    border-radius: 12px;
} */

/* .question-container{
    border-bottom: 1px solid #e0e0e0;
}

.question-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #934DFF;
}

.question-description-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: black;
    font-family: 'Open Sans';

}

.question-description-text{
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; 
    color: #828282;
} */
