.analytics{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.analytics_top-row{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 5%;
}

.analytics_graph{
    max-width: 70%;
    width: 100%;
    border-radius: 10px;
}

.analytics_balance{
    background-color: #934DFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 0;
    width: 25%;
    border-radius: 10px;
}
.analytics_balance-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #EFF6FF;
}

.analytics_balance-subtitle svg{
    width: 13px;
    height: 13px;
    color: #FFF;
}

.analytics_balance-title{
    margin-top: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.analytics_balance-link {
    margin-top: 10px;
}
.analytics_balance-link:hover{
    scale: none;
}
.analytics_balance .light{
    width: 100%;
    height: 40px;
}

.analytics_balance-image{
    width: 123px;
    height: 103px;
    margin: 20px auto 0;
}
.analytics_balance-image img {
    width: 100%;
    height: 100%;
}

.analytics_bottom-row{
    margin-top: 25px ;
    display: flex;
    column-gap: 20px;
}