.custom-btn{
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Rubik';
}

.custom-btn:active{
    opacity: 0.8;
}

.orange{
    background: linear-gradient(233.48deg, #F9A85D 12.64%, #FE5C73 107.8%);
    color: white;
}



.dark{
    background-color: #29246A;
    color: white;
}
.dark:hover{
    -webkit-box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.3) inset;
    box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.3) inset;
}