.coinlist{
    padding: 70px 0;
}
.coinlist-container{
    background-color: #FFF;
    padding: 30px 0 30px;
    border-radius: 12px;
}

.table{
    margin-top: 40px; 
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-head{
    background-color:#eef3fa; 
    height: 40px;
}

.table-head tr{
    border-bottom: 1px solid #afc6e0;
    
}
th{ 
    text-align: start; 
    font-size: 18px;
    font-weight: 500;

}
td,th{ padding:10px 15px ;}

.coin-block {
    border-bottom: 1px solid rgb(219, 219, 219);;
}
.coin-info{
    display: flex;
    column-gap: 20px;
    align-items: stretch;
    padding-left: 20px;
}
.coinlist-title{
    width: 100%;
    text-align: center;
}
.coin-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symbol-name{
    color: #999;
}

.up{ color: #31ae18; }

.pagination{
    width: 100%;
    margin-top:30px;
    display: flex;
    justify-content: center;
}
.pagination .btn {
    height: 35px;
    width: 35px;
    border-radius: 2px;
    color: #14509c;
    border: 1px solid #92c1ff;
    background-color: transparent;
}
.pagination .btn:hover{
    color: crimson;
}
.positive {
    color: #31ae18;
}
.negative {
    color: red;
}

.change-block p span {
    margin-left: 6px;
}
.table-head-btn{
    height: 100%;
    background-color: transparent;
    border: none;
    color: #9754FF;
    font-size: 16px;
    cursor: pointer;
}
.table-head-btn:hover{
    color: orange;
}


.loading{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}