@import url('./fonts/fonts.css');

:root{
/* fonts*/
--first-font: 'Rubik';
--second-font: 'Open Sans';

--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-bold: 700;
--font-weight-SemiBold: 600;

/* colors */
--color-white: #FFF;
--color-darkBlue: #29246A;
--color-darkGray: #4F4F4F;
--color-violet: #934DFF;
--color-blue: #4D92EB;
--color-red: #FE5C73;
--color-green: #27AE60;
--color-orange: #F9A85D;
--color-light: #41e4ec;
--color-milk: #F4F5F8;

/* sizes */
--subtitle-size: 25px;
--title-size: 45px;
--text-normal-size: 18px;
--text-small-size: 14px;


/* padding */
--app-section-padding: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second-font);
  font-size: var(--text-normal-size);
}
body{
  width: 100%;
  overflow-x: hidden;
}
main{
  min-height: calc(100vh - (141px + 92px));
}

.content{
  max-width: calc(1170px + 16px * 2);
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* .title{
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  font-family: 'Rubik';
} */
a{
  text-decoration: none;
  color: rgb(66, 158, 249);
}
a:hover{
  scale: 1.08;
}

/* .main-title{
  margin-top: 20%;
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 60px;
  color: #FFF;
} */

.main-page{
  position: relative;
}

.disabled{
  opacity: 0.4;
}

.disabled:hover{
  box-shadow: none !important;
}

.disabled:active{
  opacity: 0.4 !important;
}


.link{
  color: var(--color-blue);
}
/* .link:hover{
  scale: 1.08;
} */