@import url('./fonts/fonts.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}
body{
  width: 100%;
  overflow-x: hidden;
}
main{
  min-height: calc(100vh - (141px + 92px));
}

.content{
  max-width: calc(1170px + 16px * 2);
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.title{
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  font-family: 'Rubik';
}
a{
  text-decoration: none;
  color: rgb(66, 158, 249);
}
/* a:hover{
  scale: 1.08;
} */

.main-title{
  margin-top: 20%;
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 60px;
  color: #FFF;
}

.main-page{
  position: relative;
}

.disabled{
  opacity: 0.4;
}

.disabled:hover{
  box-shadow: none !important;
}

.disabled:active{
  opacity: 0.4 !important;
}