.investments{
    padding: 60px 0;
    position: relative;
    overflow: auto;
}

.investments_container{
    padding: 20px 16px 40px;
    background-color: #FFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.investments_cards{
    display: flex;
    column-gap: 25px;
    margin-top: 45px;
}
