.info-container{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.info-block{
    width: 83%;
    position: relative;
    background: linear-gradient(258.66deg, #9754FF -4.76%, #87B9FA 119.06%);

}