.user-agreement{
    padding: 70px 0;
}

.user-agreement_container{
    position: relative;
    padding: 45px 0;
    background-color: #FFF;
    border-radius: 12px;
}
.user-agreement_title{
    text-align: center;
}

.user-agreement_info{
    max-width: 80%;
    margin: 40px auto 0;
}

.user-agreement_info li:not(:first-child) {
    margin-top: 20px;
}

.user-agreement button{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}